<div class="jumbotron center">
    <h1>Hola, Bienvenidos!</h1>
    <p>Es un sitio de tecnología, agrega tu idea :D</p>
    <p><%= link_to "Registrate", " ", class:"btn btn-primary btn-lg" %></p>
    
</div>